---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #006FFF;
    background-image: linear-gradient(135deg, #006FFF, #6503ff);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #1f2d41 !important;
}

.main-content h1, .main-content h2, .main-content h3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.main-content h5 {
    font-size:14px;
    text-align:center;
}

.main-content p {
    line-height: 1.5;
    text-align: justify;
    font-size: 1.1rem;
}

.main-content ul {
  font-size: 1.1rem;
  line-height:  1.5;
  text-align: justify;
  margin-top:50px;
  margin-bottom:50px;
}

.main-content li {
  margin-bottom:10px;
  margin-top:10px;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
        padding-bottom: 3rem;
    }

    .main-content {
        max-width: 48em;
    }
}

.main-content table {
    font-size: 14px;
    line-height: 1.5;
}

body{
    // font-family:Open Sans,sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#687281;
}

a {
    color: #6503ff;
    text-decoration: none;
}

@media screen and (min-width: 64em){
    .main-content {
        padding: 6rem 6rem;
    }
}
