---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #6503ff;
    background-image: linear-gradient(135deg, #6503ff, #6503ff);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #323144;
}

.main-content h1, .main-content h2, .main-content h3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.main-content p {
    line-height: 1.7;
    text-align: justify;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
        padding-bottom: 3rem;
    }

    .main-content {
        max-width: 52em;
    }
}

.main-content table {
    font-size: 14px;
    line-height: 1.5;
}

body{
    // font-family:Open Sans,sans-serif;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    color:#4e4e66;
}

a {
    color: #6503ff;
    text-decoration: none;
}

@media screen and (min-width: 64em){
    .main-content {
        padding: 6rem 6rem;
    }
}