---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #934fff;
    background-image: linear-gradient(120deg, #6503ff, #934fff);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #323144;
}

body{
    font-family:Open Sans,sans-serif;
    font-size:18px;
    line-height:28px;
    color:#4e4e66;
    background-color:#ffffff;
    font-weight:300;
}

a {
    color: #6503ff;
    text-decoration: none;
}